{% extends 'base.html.twig' %}
{% block title %}Отзывы{% endblock %}
{% block head %}
    {{ parent() }}
    <script src="/src/assets/js/feedbackForm.js"></script>
{% endblock %}
{% block content %}
    <div>
        <strong>Сортировка</strong>
        <p>Имени:
            <a href="/?sort=username&orderby=asc">по возрастанию</a>
            ,<a href="/?sort=username&orderby=desc">по убыванию</a>
            Email:
            <a href="/?sort=email&orderby=asc">по возрастанию</a>
            ,<a href="/?sort=email&orderby=desc">по убыванию</a>
            Дате:
            <a href="/?sort=created_at&orderby=asc">по возрастанию</a>
            ,<a href="/?sort=created_at&orderby=desc">по убыванию</a>
        </p>
    </div>

    <div id="comments">
        {% for comment in comments %}
            {{ include('comment.html.twig') }}
        {% endfor %}
    </div>

    <div id="preview-data" class="panel panel-default" style="display:none">
        <div class="panel-heading"></div>
        <div class="panel-body"></div>
        <div id="image-holder"></div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <form id="feedback" enctype="multipart/form-data" action="add" method="post" role="form">
                <div class="form-group">
                    <label for="exampleInputEmail">Email</label>
                    <input type="email" class="form-control" name="exampleInputEmail" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputName">Name</label>
                    <input type="name" class="form-control" name="exampleInputName" placeholder="Enter name">
                </div>

                <div class="form-group">
                    <label for="text">Text</label>
                    <textarea name="text" class="form-control" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <input id="fileUpload" type="file" name="fupload" multiple="multiple"/>
                </div>
                <a id="preview" href="#" class="btn btn-default">Предварительный просмотр</a>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>

{% endblock %}
