<div class="panel panel-default">
<div class="panel-heading">{{comment.username}}
    <a href="mailto:#">{{comment.email}}</a>
    {{comment.created_at}}</div>
<div class="panel-body">
    {{comment.body}}
</div>
</div>
