{% extends 'base.html.twig' %}
{% block title %}Отзывы{% endblock %}
{% block head %}
    {{ parent() }}
    <script src="/src/assets/js/feedbackForm.js"></script>
{% endblock %}
{% block content %}

    <div class="col-lg col-md-offset-11">
        {% if isAuth == false %}
            <a href="/login">Login</a>
        {% endif %}

        {% if isAuth %}
            <a href="/logout">Logout</a>
        {% endif %}
    </div>

    <div>
        <strong>Сортировка</strong>
        <div class="row">
            <div class="col-md-3">
                <p>Имени:
                    <a href="/?sort=username&orderby=asc">по возрастанию</a>
                    ,<a href="/?sort=username&orderby=desc">по убыванию</a>
                </p>
            </div>
            <div class="col-md-3">
                <p>Email:
                    <a href="/?sort=email&orderby=asc">по возрастанию</a>
                    ,<a href="/?sort=email&orderby=desc">по убыванию</a>
                </p>
            </div>
            <div class="col-md-3">
                <p>Дате:
                    <a href="/?sort=created_at&orderby=asc">по возрастанию</a>
                    ,<a href="/?sort=created_at&orderby=desc">по убыванию</a>
                </p>
            </div>
        </div>
    </div>

    <div id="comments">
        {% for comment in comments %}
            {{ include('comment.html.twig') }}
        {% endfor %}
    </div>

    <div id="preview-data" class="panel panel-default" style="display:none">
        <div class="panel-heading"></div>
        <div class="panel-body"></div>
        <div id="image-holder"></div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <form id="feedback" enctype="multipart/form-data" action="add" method="post" role="form">
                <div class="form-group">
                    <label for="exampleInputEmail">Email</label>
                    <input type="email" class="form-control" name="exampleInputEmail" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputName">Name</label>
                    <input type="name" class="form-control" name="exampleInputName" placeholder="Enter name">
                </div>

                <div class="form-group">
                    <label for="text">Text</label>
                    <textarea name="text" class="form-control" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <input id="fileUpload" type="file" class="form-control" name="fupload" multiple="multiple"/>
                </div>
                <a id="preview" href="#" class="btn btn-default">Предварительный просмотр</a>
                <button type="submit" id="save" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>
    <script>
        file1 = document.getElementById('fileUpload');
        file1.addEventListener('change', function() {
            mime1.innerHTML = file1.files[0].type;
            img1.src = file1.files[0].getAsDataURL();
        }, false);
        form1 = document.getElementById('feedback');
        form1.addEventListener('submit', function(e) {
            if ((/^image\/.+$/).test(file1.files[0].type))
            else {
                alert("nope, not allowing; it's not an image");
                e.preventDefault();
            }
        }, false);
    </script>
{% endblock %}
